<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTelegramBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MyTelegramBot.Properties.Settings>
            <setting name="BotToken" serializeAs="String">
                <value>242237805:AAETMEwfgUUQFQC7R7to0TFKR3SSiygF7iY</value>
            </setting>
            <setting name="AccuweatherAPIKey" serializeAs="String">
                <value>PfAoBuxcLsRecpUapvWA7l3RRTQiTIEY</value>
            </setting>
        </MyTelegramBot.Properties.Settings>
    </userSettings>
</configuration>